@model List<DispositivoEletronico>
<h1>Lista de Dispositivos Eletro1nicos</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano de fabricação</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dispositivo in Model)
        {
            <tr>
                <td>@dispositivo.Marca</td>
                <td>@dispositivo.Modelo</td>
                <td>@dispositivo.AnoFabri</td>
                <td>
                    @if (dispositivo is Computador)
                    {
                        <strong>RAM: </strong> @(((Computador)dispositivo).MemoriaRam) <br />
                        <strong>Tipo:</strong> @(((Computador)dispositivo).Laptop ? "Laptop" : "Desktop")
                    }
                    else if (dispositivo is SmartPhone)
                    {
                        <strong>5G:</strong> @(((SmartPhone)dispositivo).Tem5G ? "Sim" : "Não")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>